@import "./header.css";
@import "./subheader.css";
@import "./aside.css";
@import "./authpage.css";

.content {
  padding: 40px 30px;
  height: 100vh;
  width: 100vw;
}

.page {
  margin-top: 5rem;
}

.with-aside {
  margin-left: 200px;
}

.custom-card {
  box-shadow: 0px 0px 6px #0000001A;
  border: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  height: auto;
  width: 100%;
  color: black;
  min-height: 200px;
}

.form-control {
  background-color: #f3f6f9;
  border-color: #f3f6f9;
  color: #3f4254;
  transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
}

.form-control::placeholder {
  color: #BBB5C6;
}

.form-control:valid {
  border: 0;
}

.form-control:invalid {
  border: 0;
}